.ant-btn-primary {
    background-color: #dd4b39;
    border-color: #d73925;
}

.ant-btn-primary:focus {
    color: #fff;
    background-color: #dd4b39 !important;
    border-color: #d73925 !important;
}

.ant-btn-primary:hover {
    color: #fff;
    background-color: #dd4b39 !important;
    border-color: #d73925 !important;
}

.ant-menu {
    background-color: #dd4b39;
    color: #fff !important;
    font-weight: bold;
}

.ant-menu-sub {
    background-color: #ff5a45 !important;
    color: #fff !important;
    font-weight: bold;
}

.ant-menu-item-selected {
    color: #ff5a45 !important;
    font-weight: bold;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #dd4b39;
}

.ant-menu-item:hover,
.ant-menu-submenu:hover,
.ant-menu-submenu:hover,
.ant-menu-submenu-inline:hover,
.ant-menu-submenu-open:hover,
.ant-menu-submenu-title:hover {
    color: #fff;
}

body {
    background: #eff3f5;
}

.ant-card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 1px 6px 10px 3px rgba(25, 10, 5, 0.21961);
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
    border-right: none;
}

.ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow::before {
    color: #fff !important;
}

.ant-menu-submenu-selected {
    color: #fff !important;
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
    font-size: 20px !important;
}

.ant-card-head-title {
    color: red;
}

.ant-table-column-title {
    color: red;
}

.ant-table-tbody>tr>td {
    padding: 8px 14px;
    word-wrap: break-word;
}

.ant-drawer-left>.ant-drawer-content-wrapper>div {
    background-color: #dd4b39 !important;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff00;
}

table>tbody>tr>td.ant-table-column-has-actions.ant-table-column-has-filters>a {
    color: black;
}

.ant-table-wrapper {
    overflow: auto;
}

.ant-menu-item>a {
    color: #fff !important;
}

.ant-menu-item>a:hover {
    color: #fff;
}

.ant-menu-horizontal>.ant-menu-item-selected {
    border-bottom: none;
}

.ant-menu-horizontal>.ant-menu-item>a:hover {
    color: #fff;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: #eff3f5;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected>a {
    color: red !important;
}

.mm>li:hover {
    box-shadow: -5px 5px 5px #af2323;
}

.ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow::before {
    color: #fff !important;
}

.ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
    background: linear-gradient(to right, #ffff, #fff);
}

.ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
    background-image: linear-gradient(to right, #ffff, #fff) !important;
    color: #fff;
}

.opc-image {
    padding: 0 5px !important;
}